<div class="header">
  <img src="/images/fishtally-large-icon.png" width="100" height="100" class="thumbnail">
  <h1>About FishTally</h1>
  <p>
    FishTally is a fishing scorekeeper.  It tracks catches and assigns points based on fish type, fish size, and lure used.  FishTally's settings are customizable so you can tailor the scoring any way you like.
  </p>
  <div class="clear"></div>
</div>

<div class="slide">
  <img src="/images/1-Games.png" width="217" height="379" class="thumbnail">
  <h1>Games</h1>
  <p>
    Start by creating a game.  Give the game a name and location.  The location is then used as a starting point when a player catch is logged.  Locations are not mandatory, but it's fun to see where you caught stuff.  The location is reverse geo-coded so you know where you are.
  </p>
  <p>
    The leading players photo is displayed for the game.
  </p>
  <div class="clear"></div>
</div>

<div class="slide">
  <img src="/images/2-Players.png" width="217" height="379" class="thumbnail">
  <h1>Players</h1>
  <p>
    Add players to your game.  In addition to player name, you can set a default lure and take or add a photo.  The default lure will be automatically set when a player catch is recorded. So you won't have to add that Jitterbug you love to every catch.  You can override the default lure for any catch.  Any photos taken or added are stored in the FishTally photo album.
  </p>
  <div class="clear"></div>
</div>

<div class="slide">
  <img src="/images/3-Catch.png" width="217" height="379" class="thumbnail">
  <h1>Catches</h1>
  <p>
    Oh yes, the big one that didn't get away.  Select a player to add a catch.  Select the fish caught and lure used.  You can take a photo for the catch, otherwise the settings fish photo is used (see below for settings).
  </p>
  <p>
    You can add a location for each catch.  If you drop a pin, the location can be viewed from the player list or the player catches list via the globe button in the bottom toolbar.
  </p>
  <div class="clear"></div>
</div>

<div class="slide">
  <img src="/images/4-Catch-Location.png" width="217" height="379" class="thumbnail">
  <h1>Locations</h1>
  <p>
    Click the globe button in the bottom toolbar to access locations.  You can view all game locations from the games list.  The players list will show all catch locations for a game, and the player catches list will show the locations for that player.
  </p>
  <p>
    Click the pins to see detail on games or catches.  Player photo is displayed with each catch.
  </p>
  <div class="clear"></div>
</div>

<div class="slide">
  <img src="/images/5-Settings.png" width="217" height="379" class="thumbnail">
  <h1>Settings</h1>
  <p>
    Click the tackle box tab at the bottom of the screen to access settings.  You can customize any of the settings used for scorekeeping.  You can also change the units of measurements used for catches.
  </p>
  <p>
    Sizes are given a point multiplier.  The default size settings are Large = 1.5 x points, medium = 1.0 x points, and small = .5 x points.
  </p>
  <div class="clear"></div>
</div>

<div class="slide">
  <img src="/images/6-Fish.png" width="217" height="379" class="thumbnail">
  <h1>Fish Settings</h1>
  <p>
    You can add fish by family.  Take or add a photo for each fish.  The settings photo will be used for any catches that do not have their own photo.
  </p>
  <p>
    Fish points are the primary basis for scores.  Size and lure then act as multipliers on the fish score.
  </p>
  <div class="clear"></div>
</div>

<div class="slide">
  <img src="/images/7-Lures.png" width="217" height="379" class="thumbnail">
  <h1>Lure Settings</h1>
  <p>
    You can add lures by type.  Take or add a photo for each lure.  The lure photo will be displayed when lures are chosen from catches.
  </p>
  <p>
    Lures act as multipliers on fish points.  Trickier lures should be given a higher multiplier like 1.5, while more sure bets should be discounted with .5 or something.
  </p>
  <div class="clear"></div>
</div>

<div class="slide">
  <img src="/images/8-Albums.png" width="217" height="379" class="thumbnail">
  <h1>Photos</h1>
  <p>
    Photos added to FishTally are stored in a photo album so you can view all the action later.
  </p>
  <div class="clear"></div>
</div>